h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  height: 100vh; /*remember this part its the important one */
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: cadetblue;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;

  align-items: stretch ;
}

.sidebar {
  background-color: olive;
  padding: 1em;

  display: flex;
  flex-direction: column;
}

.game-area {
  background-color: blanchedalmond;
  padding: 1em;
  height: 500px;
  width: 500px;
  outline-style: dotted;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.divColumn {
  flex: 1;
  display:flex;
}

.game-box-element {
  flex: 1;
  background-color: beige;
  border-style: solid;
}

.hover-style {
  background-color: black;
}

button {
  background-color: olive;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  text-align: center;
  color: blanchedalmond;

  padding: 1em;
  margin: 1em;
}

button:hover {
  transform: scale(1.1);
}

button.clicked {
  background-color: cadetblue;
  transition-duration: 0.5s;
}

.slider-div {
  text-align: center;
}

.footer {
  text-align: center;
  color: rgb(61, 86, 86);
}